# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache
.sass-cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.env
.netlify

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/input
/input_1
/output

.cache/*.vue
/templates/.docs.*
/playground/.nuxt
/playground2/.nuxt

.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

/playground/.yarn/cache
/playground/.yarn/unplugged
/playground/.yarn/install-state.gz

/playground2/.yarn/cache
/playground2/.yarn/unplugged
/playground2/.yarn/install-state.gz
